---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import Datetime from "./Datetime.astro";
import { Image } from 'astro:assets';
import { castAstroImage } from "@/utils/castAstroImage";

export interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;

const { title, pubDatetime, modDatetime, ogImage} = frontmatter;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed",
};
---

<li class="max-w-90 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href={href}>
      <Image class="rounded-t-lg" alt="" src={castAstroImage(ogImage)} />
      <div class="p-5">
            {
              secHeading ? (
                <h2 {...headerProps}>{title}</h2>
              ) : (
                <h3 {...headerProps}>{title}</h3>
              )
            }
        <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
      </div>
    </a>
</li>
